<div class="row h-100">
    <div id="left-div" class="col p-0">
        <div class="d-flex align-items-self align-self-center justify-content-center flex-column h-100">
            <div class="align-self-center" id="main-component">
                <div class="mb-5" id="header-login">
                    <h4 class="d-flex align-items-center text-green font-60">
                        <img class="logo-div shadow border-radius-10" src="../../assets/img/logo.png">
                        <b>&nbsp;Travel Planner</b>
                    </h4>
                </div>
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
    <div id="right-div" class="col">
        <div
            class="d-flex flex-column h-inherit justify-content-center align-self-center align-items-center h-100">
            <img class="border-radius m-2" style="height: 80%; width: 100%;" src="../../assets/img/login_register.png">
        </div>
    </div>
</div>