<p class="mb-4" style="color: #606060;"><b>Hello! Register to your account</b></p>
<form
  [formGroup]="userForm"
  (ngSubmit)="onSubmit()"
>
  <div class="form-group mb-4">
    <input 
      type="text" 
      class="form-control" 
      placeholder="Profile Pic Url"
      formControlName="imgUrl" />
    <app-form-error-display [formControlElement]="userForm?.get('imgUrl')" [fieldName]="'Profile Pic Url'"></app-form-error-display>
  </div>
  <div class="form-group mb-4">
    <input 
      type="text" 
      class="form-control" 
      placeholder="Full Name"
      formControlName="fullName" />
      <app-form-error-display [formControlElement]="userForm?.get('fullName')" [fieldName]="'Full Name'"></app-form-error-display>
  </div>
  <div class="form-group mb-4">
    <input 
      type="text" 
      class="form-control" 
      placeholder="Username"
      formControlName="username" />
    <app-form-error-display [formControlElement]="userForm?.get('username')" [fieldName]="'Username'"></app-form-error-display>
  </div>
  <div class="form-group mb-4">
    <input
      type="email"
      class="form-control"
      placeholder="Email Address"
      formControlName="email"
    />
    <app-form-error-display [formControlElement]="userForm?.get('email')" [fieldName]="'Email Address'"></app-form-error-display>
  </div>
  <div class="form-group mb-4">
    <input 
      type="text" 
      class="form-control" 
      placeholder="Mobile Number"
      formControlName="mobileNumber" />
    <app-form-error-display [formControlElement]="userForm?.get('mobileNumber')" [fieldName]="'Mobile Number'"></app-form-error-display>
  </div>
  <div class="form-group">
    <input 
      type="password" 
      class="form-control" 
      placeholder="Password"
      autocomplete="off" 
      formControlName="password"
    />
    <app-form-error-display [formControlElement]="userForm?.get('password')" [fieldName]="'Password'"></app-form-error-display>
  </div>
  <div class="form-group">
    <input
      type="password"
      class="form-control"
      placeholder="Confirm Password"
      autocomplete="off" 
      formControlName="confirmPassword"
    />
    <app-form-error-display [formControlElement]="userForm?.get('confirmPassword')" [fieldName]="'Confirm Password'"></app-form-error-display>
  </div>
  <div class="text-center mt-4">
    <button type="submit" class="btn btn-green" [disabled]="userForm?.invalid">Sign up</button>
    <p class="p-3">
      Already have an account?
      <a routerLink="/login" class="text-green">Login here.</a>
    </p>
  </div>
</form>
