#main-right-div{
    background: #ECF4F0;
    width: 100%;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}
#main-left-div{
    width: 25%;
    height: 100vh;
}
.list-card #image-div{
    background: url("../img/img1.png") #41476b;
    background-blend-mode: multiply;
    background-size: cover;
    height: 150px;
    border-radius: 10px;
}